<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
      
	<bean id="textEditor" class="co.com.DependencyInjection.TextEditor">
		<!-- Injeccion de dependencia basada en contructor  -->
		<!--<constructor-arg ref="spellCheckerClass"></constructor-arg>-->
		<!-- Injeccion de dependencia basada en metodo setter-->
		<property name="spellChecker" ref="spellCheckerClass"></property>
	</bean>
	
	<bean id="spellCheckerClass" class="co.com.DependencyInjection.SpellChecker"></bean>

</beans>